/* Hide default cursor globally */
:global(body) {
  cursor: none;
}

/* Custom Cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  pointer-events: none;
  z-index: 9999;

  background-size: contain;
  background-repeat: no-repeat;

  transform: translate3d(0, 0, 0);
  will-change: transform;
}